<launch>
<!-- Start the navigation stack-->
  <include file="$(find serving_fluids)/launch/include/fetch_nav.launch">
    <arg name="map_file" value="$(find serving_fluids)/maps/irl_map.yaml" />
    <arg name="map_keepout_file" default="$(find serving_fluids)/maps/keepout_map.yaml" /><!-- TODO: add keepout map here -->
    <arg name="use_keepout" value="false" /> <!-- TODO: Turn on keepout map -->
    <arg name="move_base_include" value="$(find serving_fluids)/launch/include/move_base.launch.xml" /> <!-- Use custom path planning parameters -->
      <arg name="amcl_include" default="$(find serving_fluids)/launch/include/amcl.launch.xml" /> <!-- Use custom localization parameters -->
  </include>
</launch>